<div *ngFor="let user of usersList | async">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{user.username}}
            </mat-panel-title>
            <mat-panel-description>
                {{user.email}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-chip-list>
            <mat-chip *ngIf="user.admin" color="primary" selected="true">Admin</mat-chip>
            <mat-chip *ngIf="user.author" color="accent" selected="true">Author</mat-chip>
            <mat-chip *ngIf="user.reader">Reader</mat-chip>
            <mat-chip *ngIf="user.emailVerified">Verified</mat-chip>
            <mat-chip *ngIf="!user.emailVerified" color="warn" selected="true">Not verified</mat-chip>
        </mat-chip-list>
        <br>
        <img class="circle" [src]="user.photoURL || '../../assets/images/ProfileTemp.png'" style="width: 75px; height: 75px;" alt="">
        <p>Username: {{user.username}}</p>
        <p>Email: {{user.email}}</p>
        <p>UID: {{user.uid}}</p>
        <button mat-raised-button color="warn">Disable</button>
        <button mat-button color="primary">Reset</button>
    </mat-expansion-panel>
    <br>
</div>
