<div class="header"></div>
<div fxShow="false" fxShow.gt-xs>
    <br>
</div>
<div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
    <div fxFlex="50%" fxFlex.lt-md="60%" fxFlex.xs="100%">
        <mat-card class="mat-elevation-z1" ngStyle.xs="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
            <mat-card-header>
                <mat-card-title>
                    <h2>Error: 404</h2>
                </mat-card-title>
                <mat-card-subtitle>Bad link or missing content</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Can't find what you are looking for, perhaps a bad link? This might be an error on my end, please don't hurt me</p>
            </mat-card-content>
            <mat-card-actions align="start">
                <button mat-button routerLink="/">Return to home</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
