<!DOCTYPE html>
<div class="container mat-typography">
    <div class="row">
        <div class="col s12">
            <br>
            <div class="footerLogo">
                <img src="../../assets/images/BBLines.svg" alt="Logo Header" style="vertical-align: -35%;">
            </div>
            <br>
            <a href="mailto: mail@bruhno.com" class="mat-caption" matTooltip="mail@bruhno.com" matTooltipPosition="above">Email • </a>
            <a href="https://www.linkedin.com/in/bruhno/" class="mat-caption" matTooltip="linkedin.com/in/bruhno" matTooltipPosition="above">LinkedIn • </a>
            <a href="#" class="mat-caption" matTooltip="Bruhno#4770" matTooltipPosition="above">Discord • </a>
            <a href="https://steamcommunity.com/id/Bruhno" class="mat-caption" matTooltip="steamcommunity.com/id/bruhno" matTooltipPosition="above">Steam • </a>
            <a href="https://plus.google.com/+BruhnoDesigns" class="mat-caption" matTooltip="plus.google.com/+BruhnoDesigns" matTooltipPosition="above">Google+</a>
        </div>
        <div class="col s12">
            <p class="mat-caption">© 2010-2017 Bruhno, All rights reserved.</p>
        </div>
    </div>
</div>
