<div class="footer"></div>
<div style="margin-top: -110px" fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="70%">
        <br>
        <h2>BRUHNO</h2>
        <div fxLayout fxLayoutAlign="start center">
            <div fxFlex="none">
                <a href="mailto: mail@bruhno.com" class="mat-caption" matTooltip="mail@bruhno.com" matTooltipPosition="above">Email • </a>
                <a href="https://www.linkedin.com/in/bruhno/" class="mat-caption" matTooltip="linkedin.com/in/bruhno" matTooltipPosition="above">LinkedIn • </a>
                <a href="#" class="mat-caption" matTooltip="Bruhno#4770" matTooltipPosition="above">Discord • </a>
                <a href="https://steamcommunity.com/id/Bruhno" class="mat-caption" matTooltip="steamcommunity.com/id/bruhno" matTooltipPosition="above">Steam • </a>
                <a href="https://plus.google.com/+BruhnoDesigns" class="mat-caption" matTooltip="plus.google.com/+BruhnoDesigns" matTooltipPosition="above">Google+</a>
            </div>
        </div>
        <div fxLayout fxLayoutAlign="start center">
            <div fxFlex="none">
                <p class="mat-caption">© 2010-2018 Bruhno, All rights reserved.</p>
            </div>
        </div>
        <br><br>
    </div>
</div>
