<footer class="page-footer indigo lighten-1" id="contactTarget">
  <div class="container">
    <div class="row">
      <div class="col s12 l7">
        <h5 class="white-text">How to contact me</h5>
        <p class="grey-text text-lighten-4">I prefer to be contacted by mail but I present other options in case it is not sufficient.</p>
        <ul class="grey-text text-lighten-4">
          <li><a href="mailto: mail@bruhno.com" class="grey-text text-lighten-4"><i mz-tooltip [tooltip]="'mail@<b class=\'orange-text\'>bruhno.com</b>'" [position]="'top'" [delay]="0" [html]="true" mz-icon-mdi [size]="'36px'" [align]="'left'" [icon]="'email'"></i></a></li>
          <li><a href="https://www.linkedin.com/in/bruhno/" class="grey-text text-lighten-4"><i mz-tooltip [tooltip]="'linkedin.com/in/<b class=\'orange-text\'>bruhno</b>'" [position]="'top'" [delay]="0" [html]="true" mz-icon-mdi [size]="'36px'" [align]="'left'" [icon]="'linkedin'"></i></a></li>
          <li><a href="#" class="grey-text text-lighten-4"><i mz-tooltip [tooltip]="'<b class=\'orange-text\'>Bruhno</b>#4770'" [position]="'top'" [delay]="0" [html]="true" mz-icon-mdi [size]="'36px'" [align]="'left'" [icon]="'discord'"></i></a></li>
          <li><a href="http://steamcommunity.com/id/Bruhno" class="grey-text text-lighten-4"><i mz-tooltip [tooltip]="'steamcommunity.com/id/<b class=\'orange-text\'>bruhno</b>'" [position]="'top'" [delay]="0" [html]="true" mz-icon-mdi [size]="'36px'" [align]="'left'" [icon]="'steam'"></i></a></li>
          <li><a href="https://plus.google.com/+BruhnoDesigns" class="grey-text text-lighten-4"><i mz-tooltip [tooltip]="'plus.google.com/<b class=\'orange-text\'>+BruhnoDesigns</b>'" [position]="'top'" [delay]="0" [html]="true" mz-icon-mdi [size]="'36px'" [align]="'left'" [icon]="'google-plus'"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2010-2017 Bruhno, All rights reserved.
      <!--<a href="/TaP" class="grey-text text-lighten-4 right">Terms and Policies</a>-->
    </div>
  </div>
</footer>