<a href="{{upload.url}}" download>
    <mat-list-item class="testSelectionItem">
        <mat-icon *ngIf="upload.filetype === 'png'" mat-list-icon svgIcon="image"></mat-icon>
        <h4 mat-line>{{upload.name}}</h4>
        <div mat-line>
            <a *ngIf="(auth.user | async)?.admin === true" style="cursor: pointer" (click)='deleteUpload(upload)'><mat-icon svgIcon="delete"></mat-icon></a>
        </div>
        <mat-basic-chip>{{upload.createdAt}}</mat-basic-chip>
    </mat-list-item>
</a>
