{
  "presets": [
    "next/babel",
    [
      "@emotion/babel-preset-css-prop"
    ]
  ],
  "plugins": [
    [
      "polished"
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "emotion"
      ]
    },
    "development": {
      "plugins": [
        [
          "emotion",
          {
            "sourceMap": true
          }
        ]
      ]
    }
  }
}
