.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.title {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 100;
    color: #424242;
}

.logo {
    max-width: 100%;
    max-height: calc(35vh);
}

@media only screen and (min-width: 601px) {
    .logo {
        margin: 15vh auto auto auto;
    }

    .title {
        font-size: 50px;
    }

    .container {
        min-height: calc(100vh - 64px);
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        margin: 10vh auto auto auto;
    }

    .title {
        font-size: 40px;
    }

    .container {
        min-height: calc(100vh - 112px);
    }
}

/*body {*/
    /*background: -webkit-linear-gradient(225deg, #f62d51, #2a7cb6);*/
    /*background: -moz-linear-gradient(225deg, #f62d51, #2a7cb6);*/
    /*background: -o-linear-gradient(225deg, #f62d51, #2a7cb6);*/
    /*background: linear-gradient(225deg, #f62d51, #2a7cb6);*/
    /*background-size: 175% 175%;*/

    /*-webkit-animation: gradientBackground 8s ease-in-out infinite;*/
    /*-moz-animation: gradientBackground 8s ease-in-out infinite;*/
    /*-o-animation: gradientBackground 8s ease-in-out infinite;*/
    /*animation: gradientBackground 8s ease-in-out infinite;*/
/*}*/

/*@-webkit-keyframes gradientBackground {*/
    /*0%{background-position:100% 0%}*/
    /*50%{background-position:0% 0%}*/
    /*100%{background-position:0% 100%}*/
/*}*/
/*@-moz-keyframes gradientBackground {*/
    /*0%{background-position:100% 0%}*/
    /*50%{background-position:0% 0%}*/
    /*100%{background-position:0% 100%}*/
/*}*/
/*@-o-keyframes gradientBackground {*/
    /*0%{background-position:100% 0%}*/
    /*50%{background-position:0% 0%}*/
    /*100%{background-position:0% 100%}*/
/*}*/
/*@keyframes gradientBackground {*/
    /*0%{background-position:100% 0%}*/
    /*50%{background-position:0% 0%}*/
    /*100%{background-position:100% 0%}*/
/*}*/
