body {
    background: -webkit-linear-gradient(225deg, #f62d51, #2a7cb6);
    background: -moz-linear-gradient(225deg, #f62d51, #2a7cb6);
    background: -o-linear-gradient(225deg, #f62d51, #2a7cb6);
    background: linear-gradient(225deg, #f62d51, #2a7cb6);
    background-size: 150% 150%;

    -webkit-animation: gradientBackground 8s ease-in-out infinite;
    -moz-animation: gradientBackground 8s ease-in-out infinite;
    -o-animation: gradientBackground 8s ease-in-out infinite;
    animation: gradientBackground 8s ease-in-out infinite;
}

.container {
    min-height: calc(100vh - 63px);
}

.logo1 {
    display: block;
    margin: 15vh auto auto auto;
}

.logo2 {
    margin: 13vh auto auto auto;
}

.logo3 {
    margin: 15vh auto auto auto;
}

@-webkit-keyframes gradientBackground {
    0%{background-position:100% 0%}
    50%{background-position:0% 0%}
    100%{background-position:0% 100%}
}
@-moz-keyframes gradientBackground {
    0%{background-position:100% 0%}
    50%{background-position:0% 0%}
    100%{background-position:0% 100%}
}
@-o-keyframes gradientBackground {
    0%{background-position:100% 0%}
    50%{background-position:0% 0%}
    100%{background-position:0% 100%}
}
@keyframes gradientBackground {
    0%{background-position:100% 0%}
    50%{background-position:0% 0%}
    100%{background-position:100% 0%}
}

