<!DOCTYPE html>
<body>
<div class="container">
    <div class="row">
        <div class="col s6 m12 l12 offset-s3 center">
            <img src="../../../assets/images/bnewSmaller.png" alt="Logo White" class="responsive-img logo">
        </div>
    </div>
    <div class="row">
        <div class="col l4 m6 s10 offset-l4 offset-m3 offset-s1 center">
            <h5 class="light white-text">Bruhno.com</h5>
            <p class="light white-text">My name is Nicolai Bruhn Lauritsen and this is my personal portfolio and playground</p>
        </div>
    </div>
</div>
</body>
