<!DOCTYPE html>
<div class="header mat-typography">
    <div class="container">
        <img src="../../../assets/images/B Light.svg" alt="Logo White" class="logo" id="logo" [@loadState]="loaded1" >
        <div class="center">
            <br>
            <h1 class="secondary-text-700" [@loadState]="loaded2">Bruhno</h1>
            <h4 class="secondary-text-700" [@loadState]="loaded3">My name is Nicolai Bruhn Lauritsen and this is my personal portfolio and playground</h4>
        </div>
    </div>
</div>
