<div class="row">
    <mat-dialog-content>
        <span mat-dialog-title>Choose an username</span>
        <div class="col s12">
            <mat-form-field class="col s12">
                <input matInput id="username" type="text" placeholder="Username" [(ngModel)]="usernameText" (keyup)="checkUsername()">
                <mat-hint class="mat-caption mat-warn red" *ngIf="!usernameAvailable && !!usernameText">{{usernameText}} has already been taken</mat-hint>
            </mat-form-field>
        </div>
        <div class="col s12">
            <button mat-button [disabled]="!usernameAvailable || !usernameText" (click)="updateUsername()">Select Username</button>
        </div>
    </mat-dialog-content>
</div>
