<form [formGroup]="detailForm" (ngSubmit)="updateName(user)" #loginForm="ngForm" *ngIf="(auth.user | async) || {} as user">
    <mat-dialog-content>
        <span mat-dialog-title>Type in your new name</span>
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
            <mat-form-field fxFlex="100%">
                <input matInput id="name" type="text" formControlName="name" placeholder="Full name" [value]="(auth.user | async)?.name" required>
                <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <button mat-button type="submit" [disabled]="!detailForm.valid">Change name</button>
        </div>
    </mat-dialog-content>
</form>
