<div class="header"></div>
<br>
<div fxLayout="row" fxLayoutAlign="center start" fxHide="false" fxHide.xs="true" class="mat-typography">
    <div fxFlex="25%" fxLayout="column" fxLayoutAlign="center center">
        <mat-card fxFlex="100%" class="projects-card">
            <mat-card-header>
                <mat-card-title>Working Environment</mat-card-title>
                <mat-card-subtitle>2017 (In-progress)</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Nothing to show of this project yet. Intended to be a platform to assign and review tasks and
                    provide feedback.
                </p>
            </mat-card-content>
            <img matCardImage style="object-fit: none; max-height: 300px;" src="../../assets/images/workIcon.png">
            <mat-card-content>
                <p>Nothing to show yet</p>
                <!--<button mat-button routerLink="/projects/we-2017">Learn more</button>-->
            </mat-card-content>
        </mat-card>
        <div>
            <br>
        </div>
        <mat-card fxFlex="100%" class="projects-card">
            <mat-card-header>
                <mat-card-title>Derailed</mat-card-title>
                <mat-card-subtitle>2016 Student Project</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Semester about audio-visual experiments. Created a game using Airconsole.com mobile controlled
                    desktop game API made in Unity.
                </p>
            </mat-card-content>
            <img matCardImage src="../../assets/images/projectDerailed.png">
            <mat-card-content>
                <button mat-button routerLink="/projects/derailed-2016">Learn more</button>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="2%"></div>
    <div fxFlex="25%" fxLayout="column" fxLayoutAlign="center center">
        <mat-card fxFlex="100%">
            <mat-card-header>
                <mat-card-title>QFDCenter</mat-card-title>
                <mat-card-subtitle>2017 (In-progress)</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Hired work to create a collective of technologies for the customer to create, publish and
                    automatically gain statistical data from questionnaires.
                </p>
            </mat-card-content>
            <img matCardImage src="../../assets/images/projectQFD.png">
            <mat-card-content>
                <button mat-button routerLink="/projects/qfd-2017">Learn more</button>
            </mat-card-content>
        </mat-card>
        <div>
            <br>
        </div>
        <mat-card fxFlex="100%" class="projects-card">
            <mat-card-header>
                <mat-card-title>Drummute</mat-card-title>
                <mat-card-subtitle>2016 Student Project</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Semester about creating an audio electronic prototype. We created a portable drumkit for experienced
                    drummers.
                </p>
            </mat-card-content>
            <img matCardImage class="projects-card-image" src="../../assets/images/projectDrums.jpg">
            <mat-card-content>
                <button mat-button routerLink="/projects/drummute-2016">Learn more</button>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="2%"></div>
    <div fxFlex="25%" fxLayout="column" fxLayoutAlign="center center">
        <mat-card fxFlex="100%" class="projects-card">
            <mat-card-header>
                <mat-card-title>Better World Fashion</mat-card-title>
                <mat-card-subtitle>2017 Student Project</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Bachelor project in collaboration with BWF to create a conceptualization of a social platform using
                    gamification.
                </p>
            </mat-card-content>
            <img matCardImage src="../../assets/images/projectBWF.png">
            <mat-card-content>
                <button mat-button routerLink="/projects/bwf-2017">Learn more</button>
            </mat-card-content>
        </mat-card>
        <div>
            <br>
        </div>
        <mat-card fxFlex="100%" class="projects-card">
            <mat-card-header>
                <mat-card-title>Music Creation Through Image Processing</mat-card-title>
                <mat-card-subtitle>2015 Student Project</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Semester about image processing. We created an application and system to track hands and gestures to
                    create simple musical tunes and control a computer.
                </p>
            </mat-card-content>
            <img matCardImage src="../../assets/images/musicCreation.png">
            <mat-card-content>
                <button mat-button routerLink="/projects/image-processing-2015">Learn more</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<div fxLayout="column" fxLayoutAlign="start center" fxHide="true" fxHide.xs="false" class="mat-typography">
    <mat-card fxFlex="100%" class="projects-card"
              style="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
        <mat-card-header>
            <mat-card-title>Working Environment</mat-card-title>
            <mat-card-subtitle>2017 (In-progress)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Nothing to show of this project yet. Intended to be a platform to assign and review tasks and
                provide feedback.
            </p>
        </mat-card-content>
        <img matCardImage style="object-fit: none; max-height: 300px;" src="../../assets/images/workIcon.png">
        <mat-card-content>
            <p>Nothing to show yet</p>
            <!--<button mat-button routerLink="/projects/we-2017">Learn more</button>-->
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card fxFlex="100%" style="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
        <mat-card-header>
            <mat-card-title>QFDCenter</mat-card-title>
            <mat-card-subtitle>2017 (In-progress)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Hired work to create a collective of technologies for the customer to create, publish and
                automatically gain statistical data from questionnaires.
            </p>
        </mat-card-content>
        <img matCardImage src="../../assets/images/projectQFD.png">
        <mat-card-content>
            <button mat-button routerLink="/projects/qfd-2017">Learn more</button>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card fxFlex="100%" class="projects-card"
              style="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
        <mat-card-header>
            <mat-card-title>Better World Fashion</mat-card-title>
            <mat-card-subtitle>2017 Student Project</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Bachelor project in collaboration with BWF to create a conceptualization of a social platform using
                gamification.
            </p>
        </mat-card-content>
        <img matCardImage src="../../assets/images/projectBWF.png">
        <mat-card-content>
            <button mat-button routerLink="/projects/bwf-2017">Learn more</button>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card fxFlex="100%" class="projects-card"
              style="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
        <mat-card-header>
            <mat-card-title>Derailed</mat-card-title>
            <mat-card-subtitle>2016 Student Project</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Semester about audio-visual experiments. Created a game using Airconsole.com mobile controlled
                desktop game API made in Unity.
            </p>
        </mat-card-content>
        <img matCardImage src="../../assets/images/projectDerailed.png">
        <mat-card-content>
            <button mat-button routerLink="/projects/derailed-2016">Learn more</button>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card fxFlex="100%" class="projects-card"
              style="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
        <mat-card-header>
            <mat-card-title>Drummute</mat-card-title>
            <mat-card-subtitle>2016 Student Project</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Semester about creating an audio electronic prototype. We created a portable drumkit for experienced
                drummers.
            </p>
        </mat-card-content>
        <img matCardImage class="projects-card-image" src="../../assets/images/projectDrums.jpg">
        <mat-card-content>
            <button mat-button routerLink="/projects/drummute-2016">Learn more</button>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card fxFlex="100%" class="projects-card"
              style="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
        <mat-card-header>
            <mat-card-title>Music Creation Through Image Processing</mat-card-title>
            <mat-card-subtitle>2015 Student Project</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Semester about image processing. We created an application and system to track hands and gestures to
                create simple musical tunes and control a computer.
            </p>
        </mat-card-content>
        <img matCardImage src="../../assets/images/musicCreation.png">
        <mat-card-content>
            <button mat-button routerLink="/projects/image-processing-2015">Learn more</button>
        </mat-card-content>
    </mat-card>
</div>
<br>
