.noScript {
  position: fixed;
  bottom: 16px;
  text-align: center;
  z-index: 10;
  margin: 0 0 0 -218px;
  left: 50%;
  right: 50%;
  width: 420px;
  background-color: hsl(0, 65%, 50%);
  border-radius: 4px;
  padding: 8px;
  color: white;
  font-size: 13px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
