<!DOCTYPE html>
<div class="container">
    <div class="hide-on-small-only">
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="hide-on-med-and-up">
        <br>
        <br>
        <br>
    </div>
    <div class="row" [@loadState]="loaded1">
        <div class="col s12 m6 l4 offset-m3 offset-l4">
            <mz-card
                [backgroundClass]="''"
                [textClass]="">
                <mz-card-title></mz-card-title>
                <mz-card-content>
                    <div class="row" *ngIf="!auth.currentUser">
                        <div class="col s12">
                            <app-login></app-login>
                        </div>
                        <div class="col s12">
                            <app-email></app-email>
                        </div>
                    </div>
                </mz-card-content>
            </mz-card>
        </div>
    </div>
</div>
