<!DOCTYPE html>
<!--<div class="right">-->
    <!--<img src="../../../assets/images/Corner.png" alt="corner" class="responsive-img cornerImg">-->
<!--</div>-->
<div class="grey lighten-5">
    <br>
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l5 offset-m2">
                <h4>Who am I?</h4>
                <p style="text-align: justify;">My name is <span class="red-text text-accent-3">Nicolai Bruhn Lauritsen</span> or more commonly known as <span class="red-text text-accent-3">Bruhno</span> and I am a 22
                    year old dude from Denmark, currently living in Nørresundby but I am originally from Sakskøbing on Lolland. I am currently a student at Aalborg University,
                    I have a bachelor in Medialogy and are studying for my master in Medialogy, specialising in Computer Graphics. My study ends in the Summer 2019.
                    I have great interest in design, coding and general development. I cannot deny my interest in computer games as well and I share that interest with a lot of my friends in my spare time.
                    I am a cool, calm and collected person with a decent but quite dark humor at times (that is what I am told.) Also important to note, this website is my playground. I implement features
                    that I wish to learn.
                </p>
            </div>
            <div class="col m6 l5 offset-l2 hide-on-med-and-down">
                <br>
                <br>
                <br>
                <br>
                <h5 class="center-align light">What is Medialogy?</h5>
                <div class="center">
                    <a mz-button [flat]="true" class="flatButton" href="https://goo.gl/pH4Axd">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<div class="grey lighten-3">
    <br>
    <div class="container">
        <div class="row">
            <div class="col m6 l5 hide-on-med-and-down">
                <br>
                <br>
                <br>
                <h5 class="center-align light">What have I made?</h5>
                <div class="center">
                    <a mz-button [flat]="true" mz-tooltip [tooltip]="'This will be avaible soon™'" [delay]="0" [position]="'bottom'" class="flatButton" href="#">Learn more</a>
                </div>
            </div>
            <div class="col s12 m8 l5 offset-m2 offset-l2">
                <h4>What do I do?</h4>
                <p style="text-align: justify;">
                    I currently study for my master in Medialogy at Aalborg University as mentioned.
                    If I am not currently busy assigned to a job I am always working on my own projects. That can be designing elements from icons to elements for a
                    game or a website, continue development on my own website or similar projects. To give an example, I am currently hired to help reconstruct and redesign a website
                    that handles data sent from the user that goes through a statistical process to later be shared with the customer. That is of course just a simplified explanation.
                </p>
            </div>
        </div>
    </div>
    <br>
</div>

<div class="grey lighten-5">
    <br>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>What is my experience?</h4>
                <p style="text-align: justify;">Which tools am I currently familiar working with, which platforms can I develop in, and what languages can I code in?</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 l4 offset-m2">
                <h5>Content Creation</h5>
                <mz-collection>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/PhotoshopAvatar.png" alt="">
                        <div class="title">Adobe Photoshop</div>
                        <div>About 8 years of experience</div>
                    </mz-collection-item>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/InDesignAvatar.png" alt="">
                        <div class="title">Adobe InDesign</div>
                        <div>About 3 years of experience</div>
                    </mz-collection-item>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/IllustratorAvatar.png" alt="">
                        <div class="title">Adobe Illustrator</div>
                        <div>About 4 years of experience</div>
                    </mz-collection-item>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/PremiereAvatar.png" alt="">
                        <div class="title">Adobe Premiere</div>
                        <div>About 2 years of experience</div>
                    </mz-collection-item>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/SonyVegasProAvatar.png" alt="">
                        <div class="title">Sony Vegas Pro</div>
                        <div>About 5 years of experience</div>
                    </mz-collection-item>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/3DsMaxAvatar.png" alt="">
                        <div class="title">3Ds Max</div>
                        <div>About 3 years of experience</div>
                    </mz-collection-item>
                </mz-collection>
            </div>
            <div class="col s12 m8 l4 offset-m2">
                <h5>Development</h5>
                <mz-collection>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/PhpStormAvatar.png" alt="">
                        <div class="title">PhpStorm</div>
                        <div>About 1 year of experience</div>
                    </mz-collection-item>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/DreamweaverAvatar.png" alt="">
                        <div class="title">Adobe Dreamweaver</div>
                        <div>About 5 years of experience</div>
                    </mz-collection-item>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/UnityAvatar.png" alt="">
                        <div class="title">Unity</div>
                        <div>About 2 years of experience</div>
                    </mz-collection-item>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/VisualStudioAvatar.png" alt="">
                        <div class="title">Visual Studio</div>
                        <div>About 3 years of experience</div>
                    </mz-collection-item>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/UnrealEngineAvatar.png" alt="">
                        <div class="title">Unreal Engine</div>
                        <div>About 1 year of experience</div>
                    </mz-collection-item>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/AndroidStudioAvatar.png" alt="">
                        <div class="title">Android Studio</div>
                        <div>About 2 years of experience</div>
                    </mz-collection-item>
                </mz-collection>
            </div>
            <div class="col s12 m8 l4 offset-m2">
                <h5>Languages and Frameworks</h5>
                <mz-collection>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/CAvatar.png" alt="">
                        <div class="title">C, C# or C++</div>
                        <div>About 3 years of experience</div>
                    </mz-collection-item>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/JavaAvatar.png" alt="">
                        <div class="title">Java</div>
                        <div>About 3 years of experience</div>
                    </mz-collection-item>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/JavaScriptAvatar.png" alt="">
                        <div class="title">JavaScript</div>
                        <div>About 5 years of experience</div>
                    </mz-collection-item>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/TypeScriptAvatar.png" alt="">
                        <div class="title">TypeScript</div>
                        <div>About 1 year of experience</div>
                    </mz-collection-item>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/HTMLandCSSAvatar.png" alt="">
                        <div class="title">HTML and CSS</div>
                        <div>About 7 years of experience</div>
                    </mz-collection-item>
                    <mz-collection-item [avatar]="true">
                        <img mz-avatar src="../../../assets/images/AngularAvatar.png" alt="">
                        <div class="title">Angular</div>
                        <div>About 1 year of experience</div>
                    </mz-collection-item>
                </mz-collection>
            </div>
        </div>
    </div>
    <br>
</div>
