<div>
    <mat-toolbar color="primary" class="mat-typography topnav" fxLayout="row" fxLayoutWrap ngStyle.xs="top: 0; position: fixed">
        <div fxFlex="none" fxShow fxHide.xs="false" fxHide="true"><a mat-icon-button (click)="snav.toggle()"><mat-icon svgIcon="menu"></mat-icon></a></div>
        <div fxFlex="15%" fxFlex.xs="0%"></div>
        <div fxFlex="none" fxHide.xs="false" fxHide="true"><a routerLink="/" mat-button><img src="../../assets/images/B%20Light.svg" style="max-width: 60%;" alt="Logo">&nbsp;&nbsp;Bruhno</a></div>
        <div fxFlex="none" fxHide.xs="true" fxHide="false"><a routerLink="/" mat-icon-button><img src="../../assets/images/B%20Light.svg" style="max-width: 85%; vertical-align: -10%;" alt="Logo"></a></div>
        <a fxShow fxHide.xs="true" fxHide="false" routerLink="/gallery" mat-button matTooltip="This will be avaible soon™">Gallery</a>
        <a fxShow fxHide.xs="true" fxHide="false" routerLink="/projects" mat-button matTooltip="This will be avaible soon™">Projects</a>
        <a fxShow fxHide.xs="true" fxHide="false" routerLink="/upload" mat-button>Upload</a>
        <div fxFlex fxShow fxHide.xs="true" fxHide="false"></div>
        <div fxFlex="nogrow" fxHide.xs="true" fxHide="false">
            <a *ngIf="(auth.user | async) && (auth.user | async)?.admin" routerLink="/dashboard" mat-icon-button><mat-icon svgIcon="view-dashboard"></mat-icon></a>
            <a *ngIf="(auth.user | async)" routerLink="/profile" mat-icon-button><img [src]="(auth.user | async)?.photoURL || '../../assets/images/ProfileTemp.png'" alt="Profile img" style="height: 60%;" class="circle navAvatar"></a>
            <a *ngIf="(auth.user | async)" (click)="signOut();" mat-icon-button><mat-icon svgIcon="logout"></mat-icon></a>
            <a *ngIf="!(auth.user | async)" routerLink="/login" mat-icon-button><mat-icon svgIcon="login"></mat-icon></a>
        </div>
        <div fxFlex="nogrow" fxHide.xs="true" fxHide="false"></div>
        <div fxFlex="15%" fxFlex.xs="0" fxHide.xs="true" fxHide="false"></div>
    </mat-toolbar>
    <mat-sidenav-container autosize>
        <mat-sidenav #snav
                     [mode]="'over'"
                     [fixedInViewport]="true"
                     class="sidenav mat-elevation-z1"
                     fixedTopGap="64"
                     [opened]="'false'">
            <div class="mat-typography">
                <div *ngIf="(auth.user | async)?.completeProfile === true">
                    <div class="nav-banner">
                    </div>
                    <div class="nav-banner-avatar">
                        <a routerLink="/profile" (click)="snav.toggle()"><img class="circle responsive-img" [src]="(auth.user | async)?.photoURL || '../../assets/images/ProfileTemp.png'" alt="profile-img"></a>
                    </div>
                    <p class="nav-banner-name">{{(auth.user | async)?.name}}</p>
                    <p class="nav-banner-mail">{{(auth.user | async)?.email}}</p>
                </div>
                <mat-nav-list>
                    <a routerLink="/gallery" (click)="snav.toggle()">
                        <mat-list-item>
                            <mat-icon mat-list-icon svgIcon="image-multiple"></mat-icon>
                            <p mat-line>Gallery</p>
                        </mat-list-item>
                    </a>
                    <a routerLink="/projects" (click)="snav.toggle()">
                        <mat-list-item>
                            <mat-icon mat-list-icon svgIcon="file-chart"></mat-icon>
                            <p mat-line>Projects</p>
                        </mat-list-item>
                    </a>
                    <div *ngIf="(auth.user | async)?.completeProfile === true">
                        <a routerLink="/upload" (click)="snav.toggle()">
                            <mat-list-item>
                                <mat-icon mat-list-icon svgIcon="upload"></mat-icon>
                                <p mat-line>Uploads</p>
                            </mat-list-item>
                        </a>
                        <div class="spacer"></div>
                        <mat-divider></mat-divider>
                        <div class="spacer"></div>
                    </div>
                    <div *ngIf="(auth.user | async)?.admin === true">
                        <h3 mat-subheader>Admin</h3>
                        <a routerLink="/dashboard" (click)="snav.toggle()">
                            <mat-list-item>
                                <mat-icon mat-list-icon svgIcon="view-dashboard"></mat-icon>
                                <p mat-line>Dashboard</p>
                            </mat-list-item>
                        </a>
                    </div>
                    <div class="spacer"></div>
                    <mat-divider></mat-divider>
                    <div class="spacer"></div>
                    <a *ngIf="(auth.user | async)?.completeProfile === false" routerLink="/login" (click)="snav.toggle()">
                        <mat-list-item>
                            <mat-icon mat-list-icon style="color: red" svgIcon="alert-circle"></mat-icon>
                            <p *ngIf="!resize" mat-line style="color: red">Complete Your Profile</p>
                        </mat-list-item>
                    </a>
                    <a *ngIf="(auth.user | async)?.emailVerified === false" routerLink="/login" (click)="snav.toggle()">
                        <mat-list-item>
                            <mat-icon mat-list-icon style="color: red" svgIcon="alert-circle"></mat-icon>
                            <p *ngIf="!resize" mat-line style="color: red">Email is not Verified</p>
                        </mat-list-item>
                    </a>
                    <a *ngIf="(auth.user | async)" (click)="snav.toggle(); signOut();">
                        <mat-list-item>
                            <mat-icon mat-list-icon svgIcon="logout"></mat-icon>
                            <p *ngIf="!resize" mat-line>Logout</p>
                        </mat-list-item>
                    </a>
                    <a *ngIf="!(auth.user | async)" routerLink="/login" (click)="snav.toggle()">
                        <mat-list-item>
                            <mat-icon mat-list-icon svgIcon="login"></mat-icon>
                            <p *ngIf="!resize" mat-line>Login / Signup</p>
                        </mat-list-item>
                    </a>
                </mat-nav-list>
            </div>
        </mat-sidenav>
        <mat-sidenav-content class="site">
            <main class="site-content"><router-outlet></router-outlet></main>
            <footer class="primary-400 mat-typography"><app-footer></app-footer></footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
