img {
    cursor: pointer;
}

.loginButton {
    cursor: pointer;
    color: white;
    display: block;
    position: relative;
    padding: 12px 24px;
}

.googleLogin {
    background: #dd4b39;
}

.facebookLogin {
    background: #3b5998;
}

.twitterLogin {
    background: #00aced;
}

.githubLogin {
    background: #333;
}

.spacerLogin {
    padding-top: 5px;
}
