<!DOCTYPE html>

<div class="col s3 m3 l3">
    <img src="../../../../assets/images/loginGoogle.png" alt="loginGoogle" (click)="signInWithGoogle()">
</div>

<div class="col s3 m3 l3">
    <img src="../../../../assets/images/loginFacebook.png" alt="loginFacebook" (click)="signInWithFacebook()">
</div>

<div class="col s3 m3 l3">
    <img src="../../../../assets/images/loginTwitter.png" alt="loginTwitter" (click)="signInWithTwitter()">
</div>

<div class="col s3 m3 l3">
    <img src="../../../../assets/images/loginGithub.png" alt="loginGithub" (click)="signInWithGithub()">
</div>
