<div class="header"></div>
<div fxShow fxHide.xs="true" fxHide="false"><br></div>
<div class="mat-typography" *ngIf="id.currentProject !== undefined">
    <div *ngIf="id.currentProject === 'qfd-2017'">
        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="75%" fxFlex.xs="90%">
                <span class="white-text mat-title">Content will probably we available after christmas</span>
            </div>
        </div>
    </div>

    <div *ngIf="id.currentProject === 'bwf-2017'">
        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="75%" fxFlex.xs="90%">
                <span class="white-text mat-title">Content will probably we available after christmas</span>
            </div>
        </div>
    </div>

    <div *ngIf="id.currentProject === 'derailed-2016'">
        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="75%" fxFlex.xs="90%">
                <span class="white-text mat-title">Content will probably we available after christmas</span>
            </div>
        </div>
    </div>

    <div *ngIf="id.currentProject === 'drummute-2016'">
        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="75%" fxFlex.xs="90%">
                <span class="white-text mat-title">Content will probably we available after christmas</span>
            </div>
        </div>
    </div>

    <div *ngIf="id.currentProject === 'image-processing-2015'">
        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="75%" fxFlex.xs="90%">
                <span class="white-text mat-title">Content will probably we available after christmas</span>
            </div>
        </div>
    </div>
</div>
