<div class="header"></div>
<br>
<div class="mat-typography" *ngIf="idExists; else unknown">
    <div *ngIf="id.currentProject === 'qfd-2017'">
        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="40%" fxFlex.xs="90%">
                <span class="white-text mat-title">QFDCenter - Website to create and publish questionnaires and automate statistical data generation</span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="40%" fxFlex.xs="90%">
                <span class="white-text mat-subheading-1">Hired work started December 2017</span>
            </div>
        </div>

        <ngx-image-gallery #galleryQFD [images]="imagesQFD" [conf]="conf" (click)="galleryQFD.close()"
                           style="cursor: zoom-out !important;"></ngx-image-gallery>

        <br><br><br><br><br><br><br>

        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="40%" fxFlex.xs="90%">
                <p class="project-body">
                    As the title says, we (a friend of mine from AAU and his uncle who found this task for us) were
                    tasked to create a website that includes all the different functions he is currently using but
                    instead of it being split, it should be collected on one site.
                </p>

                <br>

                <img src="https://img.bruhno.com/projects/QFDCenterLogo.png" (click)="galleryQFD.open(0)"
                     class="project-image"/>
                <div class="spacer"></div>
                <p class="project-caption">(Logo of QFDCenter)</p>

                <br>

                <p class="project-body">
                    The most important core functions were to create a way for the customer to create a questionnaire
                    and publish it for specific timeframes and collect the data and create statistical data
                    automatically for his customers. His customers are companies who are looking for people to taste and
                    provide feedback for their food products. They are interested in data explaining to them whether
                    their current product is bad or good and what that is.
                </p>

                <br>

                <img src="https://img.bruhno.com/projects/qfd-screencap1.png" (click)="galleryQFD.open(1)"
                     class="project-image"/>
                <div class="spacer"></div>
                <p class="project-caption">(Screencap of the results of one question from a demo questionnaire)</p>

                <br>

                <p class="project-body">
                    Some of these companies include airline companies who wants to get feedback on their food served on
                    the planes. However, to get accurate data and the experience of the tester, it should be tested
                    while in the air, thus requiring the website to be able to collect the data offline and send it once
                    a connection is re-established. A mobile app could be made to solve this single purpose, we however
                    decided that diving into progressive web apps is a better decision for future iterations and ease of
                    development forthgoing. <br/><br/> Not having to split up the system to several applications does
                    make some parts of the process easier, but not all web features are supported on every device and we
                    must cover both desktop Mac and Windows users as well as Android and iOS on the mobile devices,
                    sometimes complicating the task and limiting options.
                </p>

                <br>

                <p class="project-body">
                    So, a lot of work has gone into how the creation of the questionnaires are done so that the tester
                    is able to create almost anything with the tools that we have created based on what is asked of us.
                    There are currently no limits to how long the questionnaire can be. You can reorder the questions
                    created, you can delete individual questions as well as individual options in a question and the
                    tool allows you to select when the test is open for answers. These are all options part of the
                    prototype and not necessarily a presentation of the final product.
                </p>

                <img src="https://img.bruhno.com/projects/qfd-screencap2.png" (click)="galleryQFD.open(2)"
                     class="project-image"/>
                <div class="spacer"></div>
                <p class="project-caption">(Screencap of the creation of a questionnaire)</p>

                <br>

                <p class="project-body">
                    But creation and maintenance of questionnaires are of no use if there is no way to collect the data.
                    Based on the test id of the questionnaire and whether it is opened or already answered by the user,
                    the user gets a list of currently active tests and can complete it by following the instructions in
                    the questionnaire. The questions are separated so that it does not fatigue the user with possibly
                    100s of options.
                </p>

                <br>

                <img src="https://img.bruhno.com/projects/qfd-screencap3.png" (click)="galleryQFD.open(3)"
                     class="project-image"/>
                <div class="spacer"></div>
                <p class="project-caption">(Screencap of the users page for answering the questionnaire on desktop)</p>

                <br>

                <p class="project-body">
                    As mentioned earlier it was important for us to make sure that the website runs on all modern
                    devices, which means that the website is responsive (as to be expected of modern websites) and so
                    content scales and changes depending on the device used.
                </p>

                <img src="https://img.bruhno.com/projects/qfd-screencap4.png" (click)="galleryQFD.open(4)"
                     class="project-image"/>
                <div class="spacer"></div>
                <p class="project-caption">(Screencaps of some of the layouts for mobile devices)</p>

                <br>

                <p class="project-body">
                    The page is designed in a way so that all functions and layout is recognizable and easily
                    understandable when you switch between using it on the phone, desktop or tablet. This is to avoid
                    confusing the user while navigating the page and hopefully enhance the experience. We do have to
                    hide some of the navigation for the mobile devices to not destroy precious screen space, but we are
                    able to show it all on wider screens to make sure getting around on the page is fast and efficient.
                </p>

                <br>

                <img src="https://img.bruhno.com/projects/qfd-screencap5.png" (click)="galleryQFD.open(5)"
                     class="project-image"/>
                <div class="spacer"></div>
                <p class="project-caption">(Screencap of the whole page on the tests page)</p>

                <br>

                <p class="project-body">
                    So, I hope you enjoyed the little showcase of what has been made for QFDCenter so far. There is a
                    live demo at <a href="https://work.bruhno.com/qfdcenter/angular/">https://work.bruhno.com/qfdcenter/angular/</a>
                    but the admin tools are of course restricted from the public but the ability to answer the
                    questionnaires are possible with a normal user. As you can probably guess from the URL, the website
                    is made with Angular and we are using Firebase for our back-end, handling authentication, database
                    with Firestore and storage with more to come.
                </p>
            </div>
        </div>

        <br><br><br>

    </div>

    <div *ngIf="id.currentProject === 'bwf-2017'">
        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="40%" fxFlex.xs="90%">
                <span class="white-text mat-title">Better World Fashion - Conceptualization of a social platform with gamification</span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="40%" fxFlex.xs="90%">
                <span
                    class="white-text mat-subheading-1">Student project from 6th semester of B.Sc Medialogy, 2017</span>
            </div>
        </div>

        <br><br><br><br><br><br><br><br>

        <ngx-image-gallery #galleryBWF [images]="imagesBWF" [conf]="conf" (click)="galleryBWF.close()"
                           style="cursor: zoom-out !important;"></ngx-image-gallery>


        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="40%" fxFlex.xs="90%">

                <p class="project-body">
                    My bachelor project in Medialogy was a cooperation with BWF (<a href="https://goo.gl/QgCbNg">Better
                    World Fashion</a>) and two of my friends from Medialogy. BWF wanted to create a way for their users
                    to create this virtual heritage for the jackets seeing they are not actually selling their leather
                    jackets, but renting them and recycling used leather to design and create unique jackets. The usual
                    story with leather jackets is that they have some kind of story attached to them. A scratch or a rip
                    in the leather represents a story, heritage. BWF wanted us to conceptualize a way for their
                    customers to catch up on these untold stories of the jackets that other people have rented with a
                    platform dedicated to the jackets as profiles, not people.
                </p>

                <br>

                <img src="https://img.bruhno.com/projects/BWF Logo.png" (click)="galleryBWF.open(0)"
                     class="project-image" style="max-height: 200px"/>
                <div class="spacer"></div>
                <p class="project-caption">(Logo of Better World Fashion)</p>

                <br>

                <p class="project-body">
                    A semester project in Medialogy consist of creating and prototyping from the very start. We do not
                    necessarily have any knowledge on the subject and we must gather and note that information to allow
                    us to create a prototype. In this case we set out to learn about material heritage, gamification
                    which is meant to motivate the users to update their jackets story, sustainable behaviour that BWF
                    promotes with their circular business model and how communities are defined and how to create and/or
                    enlarge these communities.
                </p>

                <br>

                <img src="https://img.bruhno.com/projects/BWFJacketAndTheEnvironment.png" (click)="galleryBWF.open(1)"
                     class="project-image" style="max-height: 300px"/>
                <div class="spacer"></div>
                <p class="project-caption">(Visual presentation on how much a recycled jacket saves the environment)</p>

                <br>

                <p class="project-body">
                    Once we have this knowledge down and we feel ready to continue in the process, we evaluate the goals
                    of the project and plan what it is we want to do with project and what the goal is. This then leads
                    in to the design phase in where we further study how to create a good design that caters to our
                    users and fits in with the knowledge gathered from our previous research and apply this for
                    prototype sketching and hi-fi prototype testing and evaluation. During the design phase, several
                    different approaches were made to create a good UX (User Experience) and apply several game elements
                    to motivate the users to continue updating their story as mentioned earlier.
                </p>

                <br>

                <img src="https://img.bruhno.com/projects/Hi-Fi.png" (click)="galleryBWF.open(2)"
                     class="project-image"/>
                <div class="spacer"></div>
                <p class="project-caption">(Screen layouts from the Fi-Fi prototype)</p>

                <br>

                <p class="project-body">
                    Once the tests have been concluded and the feedback has been gathered from the several stages of
                    testing different layouts and menu interactions, we move into the implementation of a fully
                    functional prototype created for a mobile system. This part of the project was not nearly as in
                    depth this semester for us as we valued the design phase higher seeing that implementation of a
                    fully fledged mobile application in less than a few months were unrealistic if we were to follow
                    what seemed like the usual process of mobile application development. The implementation that was
                    created was intended to allow us to create and evaluate tests to fulfil our success criteria and the
                    criteria of a university semester project at AAU.
                </p>

                <br>

                <img src="https://img.bruhno.com/projects/phonePage2.png" (click)="galleryBWF.open(3)"
                     class="project-image" style="max-height: 700px"/>
                <div class="spacer"></div>
                <p class="project-caption">(Visual illustration of the prototype images on a phone)</p>

                <br>

                <p class="project-body">
                    If you are interested to learn what it is exactly we set out to test and what we concluded, you are
                    more than welcome to
                    <a href="https://firebasestorage.googleapis.com/v0/b/bruhno-afb29.appspot.com/o/projects%2FMTA17643%20-%20Report.pdf?alt=media&token=4767477f-74a0-4413-81e6-bb630d4e27e9">read
                        our semester project report</a>. This is not your typical scientific report, I personally put a
                    lot of work and effort to create illustrations, graphics and layout changes and modifications to
                    make this report more enjoyable to read and more interesting. (All illustrations and graphical
                    representations in this article is my work but I do not own the brand of BWF.) We also created an AV
                    production of the project as required by a semester project which you can watch <a
                    href="https://youtu.be/jFgNkVrv_bQ">here</a>.
                </p>

                <br>

                <div fxShow="true" fxShow.xs="false" [innerHtml]="bwfVid"></div>
            </div>
        </div>

        <br><br><br>

    </div>

    <div *ngIf="id.currentProject === 'derailed-2016'">
        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="40%" fxFlex.xs="90%">
                <span class="white-text mat-title">Derailed - Mobile controlled desktop co-op experience</span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="40%" fxFlex.xs="90%">
                <span
                    class="white-text mat-subheading-1">Student project from 5th semester of B.Sc Medialogy, 2016</span>
            </div>
        </div>

        <br><br><br><br><br><br><br><br>

        <ngx-image-gallery #galleryDerail [images]="imagesDerail" [conf]="conf" (click)="galleryDerail.close()"
                           style="cursor: zoom-out !important;"></ngx-image-gallery>


        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="40%" fxFlex.xs="90%">

                <p class="project-body">
                    This semester project was about making audio-visual experiments and we got the opportunity to work
                    with Airconsole, a platform where you can submit a game that uses their controls API for phone to
                    computer communication for a console controller like experience but with a touchscreen. This allowed
                    us to create our own controller and change information on the screen at any time which we thought
                    was a still untapped opportunity. We consist of a group of six people from Medialogy just like every
                    other ordinary semester project.
                </p>

                <br>

                <img src="https://img.bruhno.com/projects/PerceptionNeuron.png" (click)="galleryDerail.open(0)"
                     class="project-image"/>
                <div class="spacer"></div>
                <p class="project-caption">(An image from our try with recording animations with Perception Neuron. Not
                    required for the project, but we thought it could be fun to try. The guy you see in the tracking
                    equipment is
                    <a href="https://www.linkedin.com/in/daniel-hansen-5b4b29107/">Daniel Bruun Hansen</a> and I'm
                    monitoring on the right)</p>

                <br>

                <p class="project-body">
                    We sought out to create a game that would take advantage of the phone screen and see if players
                    would be able to direct their attention to the correct screen using different kind of methods of
                    feedback like visual cues, sound cues or both at the same time. The game would be an up to four
                    player coop experience, where the goal was to keep a train going from one station to another,
                    without the train destroying itself by completing assigned or shared tasks in form of minigames
                    completed on the phone screen.
                </p>

                <br>

                <img src="https://img.bruhno.com/projects/readycheck.PNG" (click)="galleryDerail.open(1)"
                     class="project-image"/>
                <div class="spacer"></div>
                <p class="project-caption">(Screencap from the games ready check before the game starts)</p>

                <br>

                <p class="project-body">
                    If you are interested to know more about this project you are more than welcome to <a
                    href="https://firebasestorage.googleapis.com/v0/b/bruhno-afb29.appspot.com/o/projects%2FMTA_16542_Report.pdf?alt=media&token=f20643a8-8888-4c16-a29d-62dd3ee826ba">read
                    or look through our report</a>. We also made a video showcasing the game and the project as a whole
                    which you can watch
                    <a href="https://youtu.be/SBas-H8hG_A"> here if you are interested</a>.
                </p>

                <br>

                <div fxShow="true" fxShow.xs="false" [innerHtml]="derailedVid"></div>
            </div>
        </div>

        <br><br><br>

    </div>

    <div *ngIf="id.currentProject === 'drummute-2016'">
        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="40%" fxFlex.xs="90%">
                <span class="white-text mat-title">Drummute - Interactive physical mobile drumkit for experienced drummers</span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="40%" fxFlex.xs="90%">
                <span
                    class="white-text mat-subheading-1">Student project from 4th semester of B.Sc Medialogy, 2016</span>
            </div>
        </div>

        <br><br><br><br><br><br><br><br>

        <ngx-image-gallery #galleryDrum [images]="imagesDrum" [conf]="conf" (click)="galleryDrum.close()"
                           style="cursor: zoom-out !important;"></ngx-image-gallery>


        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="40%" fxFlex.xs="90%">

                <p class="project-body">
                    This semester project we were tasked to create an electronic prototype and conduct an audio
                    experiment with said prototype. We decided to create a portable drumkit using pressure sensors to
                    locate and measure the strikes on a set rubber pads.
                </p>

                <br>

                <img src="https://img.bruhno.com/projects/circuitLayout.png" (click)="galleryDrum.open(0)"
                     class="project-image"/>
                <div class="spacer"></div>
                <p class="project-caption">(Visual illustration/schematic of the circuit of our prototype)</p>

                <br>

                <p class="project-body">
                    The prototype was programmed using Processing and PureData gathering data from an Arduino connected
                    to a computer with wires to the sensors on the drumkit. The system was made so that it could figure
                    out where the strike was, using four pressure sensors spread out on each side. This way, a different
                    sound could be made depending on strike location and force.
                </p>

                <br>

                <img src="https://img.bruhno.com/projects/sensorLayout.png" (click)="galleryDrum.open(1)"
                     class="project-image"/>
                <div class="spacer"></div>
                <p class="project-caption">(A visual illustration of our sensor layout for the drumpads and pedal)</p>

                <br>

                <p class="project-body">
                    If you are interested to know more about the project, you can read the report right here or you can
                    watch the video for the project here.
                </p>

                <br>

                <div fxShow="true" fxShow.xs="false" [innerHtml]="drummuteVid"></div>
            </div>
        </div>

        <br><br><br>

    </div>

    <div *ngIf="id.currentProject === 'image-processing-2015'">
        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="40%" fxFlex.xs="90%">
                <span class="white-text mat-title">Music creation through image processing</span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="40%" fxFlex.xs="90%">
                <span
                    class="white-text mat-subheading-1">Student project from 3rd semester of B.Sc Medialogy, 2015</span>
            </div>
        </div>

        <br><br><br><br><br><br><br><br>

        <ngx-image-gallery #galleryIP [images]="imagesIP" [conf]="conf" (click)="galleryIP.close()"
                           style="cursor: zoom-out !important;"></ngx-image-gallery>


        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
            <div fxFlex="40%" fxFlex.xs="90%">

                <p class="project-body">
                    A semester project focused on image processing. We decided that we wanted to create an application in where you could create your own simple tunes. To control this program, we created a piece of software capable of tracking your hands position on camera, assuming you were wearing a green glove.
                </p>

                <br>

                <img src="https://img.bruhno.com/projects/Defect.png" (click)="galleryIP.open(0)"
                     class="project-image"/>
                <div class="spacer"></div>
                <p class="project-caption">(Illustration of both contour and convexity hull with the orange arrow representing convexity defect)</p>

                <br>

                <p class="project-body">
                    The program was able to be adjusted during use to calibrate the tracking of the hand and the precision of gesture tracking. The program used gestures to control simple functions such as mouse clicks and some custom buttons for the audio program. The program ended up working very well and there were several different methods to count the number of fingers present for the gestures to be accurate.
                </p>

                <br>

                <img src="https://img.bruhno.com/projects/Screenshot_1.png" (click)="galleryIP.open(1)"
                     class="project-image"/>
                <div class="spacer"></div>
                <p class="project-caption">(An image of the early version of the program before more measures were implemented to increase accuracy post evaluation)</p>

                <br>

                 <p class="project-body">
                     If you are interested in learning more about this project, what it aimed to study and the results of that study, you are more than welcome to read the report on the project here. You can also watch the obligatory AV production for a semester project right here if interested, it gives a better summation of the project without being too technical.
                 </p>

                <br>

                <div fxShow="true" fxShow.xs="false" [innerHtml]="ipVid"></div>
            </div>
        </div>

        <br><br><br>

    </div>
</div>

<ng-template #unknown>
    <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
        <div fxFlex="75%" fxFlex.xs="90%">
            <span class="white-text mat-title">There is no project in the link you have provided</span>
        </div>
    </div>
</ng-template>
