<br>
<div class="row">
    <div class="col s12 center">
        <mz-card appFileDrop
                 (filesDropped)="handleDrop($event)"
                 (filesHovered)="dropzoneState($event)"
                 [ngClass]="{'active': dropzoneActive}">
            <mz-card-title>Drop your files here to upload</mz-card-title>
            <mz-card-content>
                <div class="row">
                    <div class="col s12">
                        <div *ngIf="currentUpload">
                            <mz-progress [backgroundClass]="'blue lighten-4'"
                                         [percentage]="currentUpload?.progress"
                                         [progressClass]="'blue'">
                            </mz-progress>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <i mz-icon-mdi [align]="'center'" [icon]="'upload'" [size]="'48px'" class="grey-text text-darken-2"></i>
                    </div>
                </div>
            </mz-card-content>
        </mz-card>
    </div>
</div>
