<div class="header"></div>
<div fxShow fxHide.xs="true" fxHide="false">
    <br>
</div>
<div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
    <h2 fxFlex="70%" fxFlex.xs="90%" class="white-text">Privacy Policy</h2>
</div>
<div fxLayout="row" fxLayoutAlign="center start" class="mat-typography" style="margin-top: -20px">
    <h5 fxFlex="70%" fxFlex.xs="90%" class="white-text">This website collects some personal data from its users</h5>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start" class="mat-typography">
    <div fxFlex="35%" fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="center start">
        <mat-card fxFlex="100%" class="projects-card" ngStyle.xs="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
            <mat-card-content>
                <h2 mat-card-title style="margin: 0">Types of Data Collected</h2>
                <h5 mat-card-subtitle>An explanation to the types of data that is collected</h5>
                <div class="spacer"></div>
                <p>Among the types of personal data that this website collects, by itself or through third parties,
                   there are: email address, password, profile picture, social media accounts , Cookies, Usage Data and
                   unique device identifiers for advertising (Google Advertiser ID or IDFA, for example).</p>
                <p>Complete details on each type of Personal Data collected are provided in the dedicated sections of this
                   privacy policy or by specific explanation texts displayed prior to the Data collection. The Personal Data
                   may be freely provided by the User, or, in case of Usage Data, collected automatically when using this
                   website.</p>
                <p>All Data requested by this website is mandatory and failure to provide this Data may make it
                   impossible for this website to provide its services. In cases where this website specifically
                   states that some Data is not mandatory, Users are free not to communicate this Data without any
                   consequences on the availability or the functioning of the service. Users who are uncertain about which
                   Personal Data is mandatory are welcome to contact the Owner.</p>
                <p>Any use of Cookies – or of other tracking tools – by this website or by the owners of third party
                   services used by this website serves the purpose of providing the service required by the User, in
                   addition to any other purposes described in the present document and in the Cookie Policy, if
                   available.</p>
                <p>Users are responsible for any third party Personal Data obtained, published or shared through this
                   website and confirm that they have the third party's consent to provide the Data to the Owner.</p>
            </mat-card-content>
        </mat-card>
        <div fxShow fxHide.xs="true" fxHide="false">
            <br>
        </div>
        <mat-card fxFlex="100%" class="projects-card" ngStyle.xs="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
            <mat-card-content>
                <h2 mat-card-title style="margin: 0">Mode and place of processing the Data</h2>
                <h5 mat-card-subtitle>How the data is processed and stored</h5>
                <div class="spacer"></div>
                <h3 style="margin: 0">Methods of processing</h3>
                <p>The Data Controller processes the Data of Users in a proper manner and shall take appropriate security measures to
                   prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.</p>
                <p>The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes
                   strictly related to the purposes indicated. In addition to the Data Controller, in some cases, the Data may be accessible
                   to certain types of persons in charge, involved with the operation of the site (administration, sales, marketing, legal,
                   system administration) or external parties (such as third party technical service providers, mail carriers, hosting
                   providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated
                   list of these parties may be requested from the Data Controller at any time.</p>
                <h3 style="margin: 0">Place</h3>
                <p>The Data is processed at the Data Controller's operating offices and in any other places where the parties involved with
                   the processing are located. For further information, please contact the Data Controller.</p>
                <h3 style="margin: 0">Retention time</h3>
                <p>The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined
                   in this document, and the User can always request that the Data Controller suspend or remove the data.</p>
            </mat-card-content>
        </mat-card>
        <div fxShow fxHide.xs="true" fxHide="false">
            <br>
        </div>
        <mat-card fxFlex="100%" class="projects-card" ngStyle.xs="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
            <mat-card-content>
                <h2 mat-card-title style="margin: 0">The use of the collected Data</h2>
                <h5 mat-card-subtitle>What the collected data is used for</h5>
                <div class="spacer"></div>
                <p>The Data concerning the User is collected to allow the Owner to provide its services, as well as for the following
                   purposes: Registration and authentication, Infrastructure monitoring, Analytics and Hosting and backend
                   infrastructure.</p>
                <p>The Personal Data used for each purpose is outlined in the specific sections of this document.</p>
            </mat-card-content>
        </mat-card>
        <div fxShow fxHide.xs="true" fxHide="false">
            <br>
        </div>
        <mat-card fxFlex="100%" class="projects-card" ngStyle.xs="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
            <mat-card-content>
                <h2 mat-card-title style="margin: 0">Additional Information About Data Collection and Processing</h2>
                <h5 mat-card-subtitle>Additional information related to this privacy policy</h5>
                <div class="spacer"></div>
                <h3 style="margin: 0">Legal action</h3>
                <p>The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to
                   possible legal action arising from improper use of this website or the related services. The User declares to be
                   aware that the Data Controller may be required to reveal personal data upon request of public authorities. </p>
                <h3 style="margin: 0">Additional information about user's personal data</h3>
                <p>In addition to the information contained in this privacy policy, this website may provide the User with additional
                   and contextual information concerning particular services or the collection and processing of Personal Data upon
                   request. </p>
                <h3 style="margin: 0">System logs and maintenance</h3>
                <p>For operation and maintenance purposes, this website and any third party services may collect files that record
                   interaction with this website (System logs) or use for this purpose other Personal Data (such as IP Address). </p>
                <h3 style="margin: 0">Information not contained in this policy</h3>
                <p>More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any
                   time. Please see the contact information at the beginning of this document. </p>
                <h3 style="margin: 0">The rights of users</h3>
                <p>Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data
                   Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented,
                   cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation
                   of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data
                   Controller at the contact information set out above. </p>
                <p>This website does not support “Do Not Track” requests. To determine whether any of the third party services it uses
                   honor the “Do Not Track” requests, please read their privacy policies. </p>
                <h3 style="margin: 0">Changes to this privacy policy</h3>
                <p>The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Users
                   on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed
                   at the bottom. If a User objects to any of the changes to the Policy, the User must cease using this website and can
                   request that the Data Controller remove the Personal Data. Unless stated otherwise, the then-current privacy policy
                   applies to all Personal Data the Data Controller has about Users. </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="2%" fxShow fxHide.xs="true" fxHide="false"></div>
    <div fxFlex="35%" fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="center center">
        <mat-card fxFlex="35%" fxFill ngStyle.xs="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
            <mat-card-content>
                <h2 mat-card-title style="margin: 0">Data Controller and Owner</h2>
                <h5 mat-card-subtitle>Personal information and contact information</h5>
                <div class="spacer"></div>
                <p style="margin: 0">Name: Nicolai Bruhn Lauritsen</p>
                <p style="margin: 0">Country: Denmark</p>
                <p style="margin: 0">City: Nørresundby, 9400</p>
                <p style="margin: 0">Contact: mail@bruhno.com</p>
            </mat-card-content>
        </mat-card>
        <div fxShow fxHide.xs="true" fxHide="false">
            <br>
        </div>
        <mat-card fxFlex="100%" ngStyle.xs="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
            <mat-card-content>
                <h2 mat-card-title style="margin: 0">Analytics</h2>
                <h5 mat-card-subtitle>Google Analytics for Firebase (Google Inc.)</h5>
                <div class="spacer"></div>
                <p>The services contained in this section enable the Owner to monitor and analyze web traffic and can be used to keep track
                   of User behavior.</p>
                <p>Google Analytics for Firebase or Firebase Analytics is an analytics service provided by Google Inc. In order to
                   understand Google's use of Data, consult Google's partner policy.</p>
                <p>Firebase Analytics may share Data with other tools provided by Firebase, such as Crash Reporting, Authentication, Remote
                   Config or Notifications. The User may check this privacy policy to find a detailed explanation about the other tools used
                   by the Owner.</p>
                <p>This website uses identifiers for mobile devices (including Android Advertising ID or Advertising Identifier for iOS,
                   respectively) and technologies similar to cookies to run the Firebase Analytics service.</p>
                <p>Users may opt-out of certain Firebase features through applicable device settings, such as the device advertising
                   settings for mobile phones or by following the instructions in other Firebase related sections of this privacy policy, if
                   available.</p>
                <p>Personal Data collected: Cookies, unique device identifiers for advertising (Google Advertiser ID or IDFA, for example)
                   and Usage Data. </p>
                <p>Place of processing: USA – <a href="https://www.google.com/policies/privacy/">Privacy Policy</a></p>
            </mat-card-content>
        </mat-card>
        <div fxShow fxHide.xs="true" fxHide="false">
            <br>
        </div>
        <mat-card fxFlex="100%" ngStyle.xs="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
            <mat-card-content>
                <h2 mat-card-title style="margin: 0">Hosting and Backend Infrastructure</h2>
                <h5 mat-card-subtitle>Google Cloud Storage (Google Inc.)</h5>
                <div class="spacer"></div>
                <p>This type of service has the purpose of hosting data and files that enable this website to run and be distributed as
                   well as to provide a ready-made infrastructure to run specific features or parts of this website. Some of these
                   services work through geographically distributed servers, making it difficult to determine the actual location where the
                   Personal Data are stored.</p>
                <p>Google Cloud Storage is a hosting service provided by Google Inc.</p>
                <p>Personal Data collected: various types of Data as specified in the privacy policy of the service. </p>
                <p>Place of processing: USA – <a href="https://www.google.com/policies/privacy/">Privacy Policy</a></p>
            </mat-card-content>
        </mat-card>
        <div fxShow fxHide.xs="true" fxHide="false">
            <br>
        </div>
        <mat-card fxFlex="100%" ngStyle.xs="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
            <mat-card-content>
                <h2 mat-card-title style="margin: 0">Infrastructure Monitoring</h2>
                <h5 mat-card-subtitle>Firebase Performance Monitoring (Google Inc.)</h5>
                <div class="spacer"></div>
                <p>This type of service allows this website to monitor the use and behavior of its components so its performance,
                   operation, maintenance and troubleshooting can be improved. Which Personal Data are processed depends on the
                   characteristics and mode of implementation of these services, whose function is to filter the activities of this
                   website.</p>
                <p>Firebase Performance Monitoring is a monitoring service provided by Google, Inc.</p>
                <p>Personal Data collected: various types of Data as specified in the privacy policy of the service. </p>
                <p>Place of processing: USA – <a href="https://www.google.com/policies/privacy/">Privacy Policy</a></p>
            </mat-card-content>
        </mat-card>
        <div fxShow fxHide.xs="true" fxHide="false">
            <br>
        </div>
        <mat-card fxFlex="100%" ngStyle.xs="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
            <mat-card-content>
                <h2 mat-card-title style="margin: 0">Registration and Authentication</h2>
                <h5 mat-card-subtitle>Firebase Authentication (Google Inc.)</h5>
                <div class="spacer"></div>
                <p>By registering or authenticating, Users allow this website to identify them and give them access to dedicated
                   services. Depending on what is described below, third parties may provide registration and authentication services. In
                   this case, this website will be able to access some Data, stored by these third party services, for registration or
                   identification purposes.</p>
                <p>Firebase Authentication is a registration and authentication service provided by Google Inc. To simplify the registration
                   and authentication process, Firebase Authentication can make use of third party identity providers and save the
                   information on its platform.</p>
                <p>Personal Data collected: email address, password, profile picture and social media accounts </p>
                <p>Place of processing: USA – <a href="https://www.google.com/policies/privacy/">Privacy Policy</a></p>
            </mat-card-content>
        </mat-card>
        <div fxShow fxHide.xs="true" fxHide="false">
            <br>
        </div>
        <mat-card fxFlex="100%" ngStyle.xs="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
            <mat-card-content>
                <h2 mat-card-title style="margin: 0">Definitions and Legal References</h2>
                <h5 mat-card-subtitle>Supplementary information for this document</h5>
                <div class="spacer"></div>
                <p>Any information regarding a natural person, a legal person, an institution or an association, which is, or can be,
                   identified, even indirectly, by reference to any other information, including a personal identification number.</p>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Usage Data
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Information collected automatically from this website (or third party services employed in this website),
                       which can include: the IP addresses or domain names of the computers utilized by the Users who use this website,
                       the URI addresses (Uniform Resource Identifier), the time of the request, the method utilized to submit the request
                       to the server, the size of the file received in response, the numerical code indicating the status of the server's
                       answer (successful outcome, error, etc.), the country of origin, the features of the browser and the operating system
                       utilized by the User, the various time details per visit (e.g., the time spent on each page within the website)
                       and the details about the path followed within the website with special reference to the sequence of pages
                       visited, and other parameters about the device operating system and/or the User's IT environment.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            User
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>The individual using this website, which must coincide with or be authorized by the Data Subject, to whom the
                       Personal Data refers.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Data Subject
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>The legal or natural person to whom the Personal Data refers.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Data Processor (or Data Supervisor)
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>The natural person, legal person, public administration or any other body, association or organization authorized by
                       the Data Controller to process the Personal Data in compliance with this privacy policy.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Data Controller (or Owner)
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>The natural person, legal person, public administration or any other body, association or organization with the
                       right, also jointly with another Data Controller, to make decisions regarding the purposes, and the methods of
                       processing of Personal Data and the means used, including the security measures concerning the operation and use of
                       this website. The Data Controller, unless otherwise specified, is the Owner of this website.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            This Website
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    The hardware or software tool by which the Personal Data of the User is collected.
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Cookies
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Small piece of data stored in the User's device.
                </mat-expansion-panel>
                <br>
                <h3>Legal information</h3>
                <p>Notice to European Users: this privacy statement has been prepared in fulfillment of the obligations under Art. 10 of EC
                   Directive n. 95/46/EC, and under the provisions of Directive 2002/58/EC, as revised by Directive 2009/136/EC, on the
                   subject of Cookies.</p>
                <p>This privacy policy relates solely to this website.</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxShow fxHide.xs="true" fxHide="false">
    <br>
</div>
