.profileHeader {
    margin-top: -10px;
    height: 40vh;
    background: #FF7043;
}

.profileAvatar {
    margin-top: -100px;
}

.username {
    cursor: pointer;
    margin-top: 30px;
    font-size: 23px;
}

.email {
    font-size: 15px;
    margin-top: -11px;
    font-weight: 200;
}

.changeAvatar {
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 100;
    width: 156px;
    height: 156px;
}

.cn {
    cursor: pointer;
    position: relative;
    display: table;
    z-index: 200;
    opacity: 0;
    width: 156px;
    height: 156px;
    vertical-align: middle;
    text-align: center;
    margin: -156px 0 0 0;
}

.cn:hover {
    opacity:1;
    background:rgba(0,0,0,0.5) center no-repeat;
}

div.inner {
    display: table-cell;
    vertical-align:middle;
}

.avatarIcon {
    color: white;
}

.usernameIcon {
    opacity: 0;
}

.username:hover > .usernameIcon {
    opacity: 0.7;
}
