.profileHeader {
    margin-top: -10px;
    height: 30vh;
    background: #ff7043;
}

.profileAvatar {
    margin-top: -100px;
}

.profileAvatar img {
    width: 156px;
    height: 156px;
    object-fit: cover;
}

.username {
    cursor: pointer;
    margin-top: 40px;
    font-size: 23px;
}

.email {
    font-size: 15px;
    margin-top: -11px;
    font-weight: 200;
}

.changeAvatar {
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 100;
    width: 156px;
    height: 156px;
}

.cn {
    cursor: pointer;
    position: relative;
    display: table;
    z-index: 200;
    opacity: 0;
    width: 156px;
    height: 156px;
    vertical-align: middle;
    text-align: center;
    margin: -156px 0 0 0;
}

.cn:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5) center no-repeat;
}

div.inner {
    display: table-cell;
    vertical-align: middle;
}

.avatarIcon {
    color: white;
}

.usernameIcon {
    opacity: 0;
}

.username:hover > .usernameIcon {
    opacity: 0.7;
}

@media only screen and (min-width: 601px) {
    .profileAvatar img {
        width: 156px;
        height: 156px;
    }

    .changeAvatar {
        width: 156px;
        height: 156px;
    }

    .cn {
        width: 156px;
        height: 156px;
        margin: -156px 0 0 0;
    }

    .username {
        margin-top: 40px;
        font-size: 23px;
    }

    .email {
        font-size: 15px;
        margin-top: -11px;
    }
}

@media only screen and (max-width: 600px) {
    .profileAvatar img {
        width: 76px;
        height: 76px;
        margin: 25px 0 0 0;
    }

    .changeAvatar {
        width: 76px;
        height: 76px;
        margin: 25px 0 0 0;
    }

    .cn {
        width: 76px;
        height: 76px;
        margin: -51px 0 0 0;
    }

    .username {
        margin-top: 50px;
        font-size: 18px;
    }

    .email {
        font-size: 14px;
        margin-top: -13px;
    }
}
