<div class="row profileHeader">
</div>

<div *ngIf="auth.user | async; then authenticated else guest"></div>

<ng-template #guest class="mat-typography">
    <h4>You are not authenticated</h4>
</ng-template>

<ng-template #authenticated>
    <div *ngIf="auth.user | async as user" class="container mat-typography">
        <div class="row profileAvatar">
            <div class="col s5 m4 l2">
                <a class="changeAvatar">
                    <img class="circle responsive-img" [src]="user.photoURL || '../../assets/images/ProfileTemp.png'" width=156px>
                </a>
                <div class="cn circle" (click)="changeAvatar()">
                    <div class="inner">
                        <a><mat-icon svgIcon="camera" class="avatarIcon"></mat-icon></a>
                    </div>
                </div>
            </div>
            <div class="col s7 m8 l10">
                <a>
                    <p class="username white-text changeUsername" (click)="changeUsername()">{{ user.name || 'No name' }}<mat-icon svgIcon="pencil" class="usernameIcon"></mat-icon></p>

                </a>
                <p class="white-text email">{{ user.email || 'No email'}}</p>
            </div>
        </div>
    </div>
</ng-template>
