<div class="row profileHeader">
</div>
<div class="container">
    <div class="row profileAvatar">
        <div class="col s4 m3 l2">
            <a><img class="circle responsive-img" [src]="(auth.user | async)?.photoURL || 'https://firebasestorage.googleapis.com/v0/b/bruhno-afb29.appspot.com/o/uploads%2Fthinking.png?alt=media&token=0de0882e-98b5-4843-a9fc-2c7674956428'" width=156px></a>
        </div>
        <div class="col s8 m9 l10">
            <p class="username grey-text text-lighten-4">{{ (auth.user | async )?.username || 'No username' }} </p>
            <p class="light email grey-text text-lighten-4">{{ (auth.user | async)?.email || 'No email'}}</p>
        </div>
    </div>
</div>









<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col s12">-->
            <!--<mz-card-->
                <!--[backgroundClass]="'blue-grey darken-1'"-->
                <!--[textClass]="'white-text'"-->
                <!--[hoverable]="true">-->
                <!--<mz-card-title>{{ (auth.user | async)?.username }} </mz-card-title>-->
                <!--<mz-card-content>-->
                    <!--<img class="card-img-top" [src]="(auth.user | async)?.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=156px>-->
                    <!--<p>UID: {{ (auth.user | async)?.uid }}</p>-->
                    <!--<p>Email: {{ (auth.user | async)?.email }}</p>-->
                <!--</mz-card-content>-->
                <!--<mz-card-action>-->
                    <!--<a href="#">This is a link</a>-->
                    <!--<a href="#">This is a link</a>-->
                <!--</mz-card-action>-->
            <!--</mz-card>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
