<!DOCTYPE html>

<div class="mat-typography">
    <form [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="login()" #loginForm="ngForm">
        <div class="row">
            <mat-form-field class="col s12">
                <input matInput id="email-login" type="email" formControlName="email" placeholder="Email">
                <mat-icon matSuffix svgIcon="email"></mat-icon>
                <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col s12">
                <input matInput id="password-login" type="password" formControlName="password" placeholder="Password">
                <mat-icon matSuffix svgIcon="lock"></mat-icon>
                <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col s12">
                <button mat-button color="primary" type="submit" [disabled]="!userForm.valid">Sign-In</button>
                <button mat-button color="secondary" (click)="toggleForm();">New user?</button>
            </div>
        </div>
        <div class="row" *ngIf="userForm.value.email.length >= 1">
            <div class="col s12">
                <a class="mat-caption" (click)="resetPassword()">Send password reset for {{userForm.value.email}}?</a>
            </div>
        </div>
    </form>

    <form [formGroup]="userForm" *ngIf="!newUser" (ngSubmit)="signup()">
        <div class="row">
            <mat-form-field class="col s12">
                <input matInput id="email-signup" type="email" formControlName="email" placeholder="Email">
                <mat-icon matSuffix svgIcon="email"></mat-icon>
                <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col s12">
                <input matInput id="password-signup" type="password" formControlName="password" placeholder="Password">
                <mat-icon matSuffix svgIcon="lock"></mat-icon>
                <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col s12">
                <button mat-button color="primary" type="submit" [disabled]="!userForm.valid">Sign-Up</button>
                <button mat-button color="secondary" (click)="toggleForm();">Already registered?</button>
            </div>
        </div>
    </form>
</div>
