<!DOCTYPE html>

<mz-input-container>
    <input mz-input [label]="'Email'" [validate]="'true'" [dataError]="'Email is invalid'" [dataSuccess]="'Email is valid'" [(ngModel)]="email" id="email-email" type="email">
</mz-input-container>
<br>
<mz-input-container>
    <input mz-input [label]="'Password'" [validate]="'true'" [dataError]="'Password is invalid'" [dataSuccess]="'Password is valid'" [(ngModel)]="password" id="email-password" type="password">
</mz-input-container>

<button mz-button (click)="signup()" [disabled]="!email || !password">Register</button>
<button mz-button flat="true" (click)="login()" [disabled]="!email || !password">Login</button>

<div class="row">
    <div class="col s12">
        <button mz-button flat="true" (click)="logout()" *ngIf="authService.user | async">Logout</button>
    </div>
</div>