.logo {
    display: inline-block;
    height: 100%;
}

.logo img {
    vertical-align: middle;
}

.logo:hover {
    background: transparent;
}

.centerText {
    align-items: center;
}

.left {
    margin-left: 15%;
}

.right {
    margin-right: 15%;
}

/*.right-nav {*/
    /*margin: 0 10vh 0 0;*/
/*}*/

.menuBtn {
    position: absolute;
    margin-left: 3vh;
}

.modalLogin { width: 20%; height: 20%; }
