.mat-toolbar {
    padding: 0 5% 0 5%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.spacer {
    flex: 1 1 auto;
}

.icon {
    padding: 0 6px;
}

a {
    text-decoration: none;
    letter-spacing: 0.3px;
    font-size: 16px;
    font-weight: 400;
}
