<!DOCTYPE html>
<div class="header"></div>
<div class="container">
    <div class="hide-on-small-only">
        <br><br><br><br><br><br>
    </div>
    <div class="hide-on-med-and-up">
        <br>
    </div>
    <div class="row" [@loadState]="loaded1">
        <div class="col s12 m6 l4 offset-m3 offset-l4">
            <mat-card>
                <mat-card-content>
                    <div class="row" *ngIf="!(auth.user | async) && !showSpinner">
                        <div class="col s12">
                            <app-login></app-login>
                        </div>
                    </div>
                    <div class="row" *ngIf="!(auth.user | async) && !showSpinner">
                        <div class="col s12">
                            <app-email></app-email>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <mat-spinner style="margin:0 auto;" *ngIf="showSpinner"></mat-spinner>
                        </div>
                    </div>
                    <div class="row" *ngIf="(auth.user | async) && !showSpinner">
                        <div class="col s12 center">
                            <h2 class="mat-title">You are already logged in</h2>
                            <br>
                            <button mat-raised-button button color="primary" routerLink="/">Return</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
