.header {
    background-color: #FF5722;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 380px;
    height: 40vh;
    max-height: 540px;
    box-sizing: border-box;
    padding: 48px 48px 32px 48px;
    overflow: hidden;
    -webkit-transform: skewY(6deg);
    transform: skewY(6deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
}

@media only screen and (min-width: 601px) {

    .header {
        min-height: 200px;
        max-height: 540px;
    }
}

@media only screen and (max-width: 600px) {

    .header {
        min-height: 200px;
        max-height: 300px;
    }
}
