<div fxShow="false" fxShow.gt-xs><br></div>
<div fxShow="false" fxShow.xs style="margin-top: -80px;"><br></div>
<div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="35%" fxFlex.lg="40%" fxFlex.md="50%" fxFlex.sm="60%" fxFlex.xs="100%">
        <div fxShow fxHide.xs="false" fxHide="true"><br><br><br></div>
        <mat-card class="mat-typography" ngStyle.xs="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
            <div *ngIf="!(auth.user | async)">
                <h3>You can sign in with either of these options</h3>
                <app-login></app-login>

                <br>

                <h3>Or login with your email</h3>
                <app-email></app-email>
            </div>

            <div *ngIf="auth.user | async as user">
                <div *ngIf="!user.completeProfile">
                    <h3>I need some more information to complete your profile</h3>
                    <app-details></app-details>
                </div>

                <div *ngIf="user.completeProfile && !user.emailVerified" fxLayout="column" fxLayoutAlign="center center">
                    <h3 fxFlex="100%" class="center">Your email is not verified yet, please select one of the options below</h3>
                    <p style="text-align: just">An email with a verification link should already have been sent, but if not or you just can't find it, feel free to request for a new one</p>
                    <button fxFlex="100%" mat-button color="accent" (click)="auth.sendVerifyEmail()">Resend activation link</button>
                    <br>
                    <p style="text-align: justify">Once you have clicked the link in the email and it says "Your email has been verified", please confirm the process by pressing the button below</p>
                    <button fxFlex="100%" mat-button color="primary" (click)="auth.verifyEmail(user)">Confirm my email is verified</button>
                </div>

                <div *ngIf="user.completeProfile && user.emailVerified" fxLayout="column" fxLayoutAlign="center">
                    <h3 fxFlex="100%" class="center">You are already logged in</h3>
                    <button fxFlex="100%" mat-button color="primary" routerLink="/">Return to the front page</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<br>
